<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        // var socket = io.connect("http://127.0.0.1:5000/");
        var socket = io.connect();
        socket.on('car_rotate', function(msg) {
            var date = new Date();
            console.log("On Car Rotate");
            $('#status').append('<p>Status: ' + msg.rotationSide + ", Time:" + date + '</p>');
        });
        socket.on('msg_receive', function(msg) {
            var date = new Date();
            $('#websocketMessage').append('<p>Intent: ' + msg.intent + ',  message: ' + msg.text + ", Time:" + date + '</p>');
        });
    });
</script>

<!-- 在body中加入status的div tag-->
Online Status Check:
<div id="status"></div>
<br/> Message receive
<div id="websocketMessage"></div>

</html>